<nav class="h6 navbar navbar-expand-md navbar-light bg-light fixed top">
<div id = "wrapper">
    <div style="float:left;" >
      <h1 class="logo">
          <a href="https://qure.ai/"><img src="/tb/images/qure_logo_grey.png" style="max-width:100px;" alt="logo" class="logo"></a>
      </h1>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse nav-link justify-content-between" style="float:right;" id="navbarCollapse">
          <div class="navbar-nav">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Products</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Inbox</a>
                    <a href="#" class="dropdown-item">Sent</a>
                    <a href="#" class="dropdown-item">Drafts</a>
                </div>
            </div>
              <a href="#" class="nav-item nav-link ">Case&nbsp;Studies</a>
              <a href="#" class="nav-item nav-link">Publications</a>
              <form class="navbar-form navbar-left">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <!-- <button type="submit" class="btn btn-default">Submit</button> -->
              </form>

          <!-- </div>
          <form class="form-inline">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <div class="input-group-append">
                      <button type="button" class="btn btn-secondary"><i class="fa fa-search"></i></button>
                  </div>
              </div>
          </form>-->
      </div>
    </div>
  </div>
</nav>
